# Includes password for x.509 and the URL to access the firm with
.env  
.envrc
*.pyc
**/__pycache__/**
.vscode
.history
*.egg-info/**
rcfile
**/.mypy_cache/**
build/
.DS_Store

# Kiln stuff
alkiln_tests_*
alkiln-*
cucumber-report.txt
debug_log.txt
runtime_config.json

# Python Test stuff
.coverage
coverage_html
